.TextInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-style: solid;
}
.TextInput input {
  height: 100%;
  background: transparent;
  width: 100%;
  border: 0px;
  outline: none;
}

/* Variables */

.TextInput {
  background-color: var(--textInput_bg);
  border-radius: var(--textInput_borderRadius);
  border-width: var(--textInput_borderWidth);
  border-color: var(--textInput_borderColor);
  transition: var(--textInput_transition);
  height: var(--textInput_height);
  box-shadow: none;
}
.TextInput input {
  line-height: var(--textInput_lineHeight);
  font-size: var(--textInput_fontSize);
  padding: 0 var(--textInput_horizontalPadding);
  color: var(--textInput_color);
  transition: var(--textInput_transition);
}

/* States */

.TextInput:hover {
  border-width: var(--textInput_borderWidth__hovered, var(--textInput_borderWidth));
  border-color: var(--textInput_borderColor__hovered, var(--textInput_borderColor));
  transition: var(--textInput_transition__hovered, var(--textInput_transition));
  background-color: var(--textInput_bg__hovered, var(--textInput_bg));
  box-shadow: none;
}
.TextInput:hover input {
  color: var(--textInput_color__hovered, var(--textInput_color));
  transition: var(--textInput_transition__hovered, var(--textInput_transition));
}

.TextInput.--focused {
  --outlineWidth: var(--textInput_outlineWidth__focused, var(--textInput_outlineWidth));
  --outlineColor: var(--textInput_outlineColor__focused, var(--textInput_outlineColor));
  background-color: var(--textInput_bg__focused, var(--textInput_bg));
  border-width: var(--textInput_borderWidth__focused, var(--textInput_borderWidth));
  border-color: var(--textInput_borderColor__focused, var(--textInput_borderColor));
  transition: var(--textInput_transition__focused, var(--textInput_transition));
  box-shadow: var(--box-shadow, 0px 0px), 0px 0px 0px var(--outlineWidth) var(--outlineColor);
}
.TextInput.--focused input {
  color: var(--textInput_color__focused, var(--textInput_color));
  transition: var(--textInput_transition__focused, var(--textInput_transition));
}

.TextInput.--disabled {
  background-color: var(--textInput_bg__disabled, var(--textInput_bg));
  border-width: var(--textInput_borderWidth__disabled, var(--textInput_borderWidth));
  border-color: var(--textInput_borderColor__disabled, var(--textInput_borderColor));
  transition: var(--textInput_transition__disabled, var(--textInput_transition));
  box-shadow: none;
}
.TextInput.--disabled input {
  color: var(--textInput_color__disabled, var(--textInput_color));
  transition: var(--textInput_transition__disabled, var(--textInput_transition));
}

.TextInput.--readonly {
  background-color: var(--textInput_bg__readonly, var(--textInput_bg));
  border-width: var(--textInput_borderWidth__readonly, var(--textInput_borderWidth));
  border-color: var(--textInput_borderColor__readonly, var(--textInput_borderColor));
  transition: var(--textInput_transition__readonly, var(--textInput_transition));
  box-shadow: none;
}
.TextInput.--readonly input {
  color: var(--textInput_color__readonly, var(--textInput_color));
  transition: var(--textInput_transition__readonly, var(--textInput_transition));
}

.TextInput.--error {
  --outlineColor: var(--textInput_outlineColor__error, var(--textInput_outlineColor));
  background-color: var(--textInput_bg__error, var(--textInput_bg));
  border-color: var(--textInput_borderColor__error, var(--textInput_borderColor));
  transition: var(--textInput_transition__error, var(--textInput_transition));
  box-shadow: 0px 0px 0px  var(--outlineWidth) var(--outlineColor);
}
.TextInput.--error input {
  color: var(--textInput_color__error, var(--textInput_color));
  transition: var(--textInput_transition__error, var(--textInput_transition));
}
