@media (orientation: portrait) {
  .Toast {
    width: 100%;
  }

  .Toast > div {
    width: 100%;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  .Toast .content {
    padding: 1.3rem;
    border-radius: 4px;
    position: relative;
  }

  .Toast > div {
    width: 100%;
    padding-bottom: 0;
    padding-left: 0;
  }
  .Toast {
    padding: 0;
    position: relative;
  }
  .Toast .content {
    padding: 1.3rem;
    border-radius: 0;
  }
}
