.ui-Baloon {
  --arrow-size: 13px;
  position: relative;
  width: 100%;
}

.ui-Baloon_content {
  position: absolute;
  background-color: red;
  z-index: 2;
}

.ui-Baloon_arrow {
  position: absolute;
  background-color: red;
  width: var(--arrow-size);
  height: var(--arrow-size);
  transform: rotate(45deg);
  z-index: 1;
}
