.ui-List {
  width: 100%;
}

.ui-List > .ui-List_item {
  width: 100%;
}
.ui-List > .ui-List_item:hover {
  background-color: var(--bg);
}
.ui-List > .ui-List_item[aria-disabled='true'] {
  background-color: var(--listItem_bg__disabled);
}
