.Layout {
  display: grid;
}

.Layout.main {
  grid-template-areas: 'main';
}

.Layout.header-main {
  grid-template-areas:
    'header header header'
    'main main main';
  grid-template-rows: calc(var(--header-height) * 1px) 1fr;
  grid-template-columns: calc(var(--nav-width * 1px)) 1fr;
}

.Layout.header-main-nav {
  grid-template-areas:
    'header header header'
    'nav main main';
  grid-template-rows: calc(var(--header-height) * 1px) 1fr;
  grid-template-columns: calc(var(--nav-width) * 1px) 1fr 1fr;
}

main {
  grid-area: main;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  /* background-color: rgb(255, 243, 243); */
}

nav {
  grid-area: nav;
  z-index: 300;
  /* background-color: rgb(244, 243, 255); */
}

header {
  grid-area: header;
  z-index: 300;
  /* background-color: rgb(254, 254, 243); */
}

/* CENTERED */

.Layout.header-main-nav.centered {
  grid-template-areas:
    'header header header header'
    '. nav main .';
  grid-template-rows: calc(var(--header-height) * 1px) 1fr;
  grid-template-columns: 1fr 320px minmax(320px, 1024px) 1fr;
}
