.ui-List {
  width: 100%;
}

.ui-List .ui-List_item {
  width: 100%;
}
.ui-List .ui-List_item:focus[data-selectable='true'] {
  background-color: var(--listItem_bg__hovered);
  outline: none;
}
.ui-List .ui-List_item[aria-disabled='true'] {
  background-color: var(--listItem_bg__disabled);
  border-color: var(--listItem_borderColor__disabled);
  transition: var(--listItem_transition__disabled);
  color: var(--listItem_color__disabled);
}
.ui-List .ui-List_item[aria-selected='true'] {
  background-color: var(--listItem_bg__disabled);
  border-color: var(--listItem_borderColor__disabled);
  transition: var(--listItem_transition__disabled);
  color: var(--listItem_color__disabled);
}
