[data-x='Button'] {
  outline: 0;
  color: var(--colorButton, var(--color));
  border: 0.2rem solid var(--border-button, var(--primary));
  background-color: var(--bg-button, var(--primary));
  border-radius: 0.4rem;
  font-weight: bolder;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(74, 40, 225);
  }
}
