[data-x='Button'] {
  outline: 0;
  border: 0.2rem solid rgb(255, 238, 87);
  background-color: rgb(255, 238, 87);
  border-radius: 0.4rem;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(74, 40, 225);
  }
}
