.ui-SpeechBubble {
  --arrow-size: 12px;
  position: relative;
  width: 100%;
}

.ui-SpeechBubble_content {
  position: absolute;
  background-color: yellow;
  z-index: 2;
}

.ui-SpeechBubble_arrow {
  position: absolute;
  background-color: yellow;
  width: var(--arrow-size);
  height: var(--arrow-size);
  transform: rotate(45deg);
  z-index: 1;
}
