.ui-Callout_content-wrapper {
  --arrow-size: 10px;
  position: fixed;
}

.ui-Callout_content-wrapper .ui-Callout_content {
  position: relative;
  color: white;
  border-radius: 4px;
  background-color: #3b4258;
  padding: 6px 12px;
  box-shadow: 0px 1.2px 18px rgba(0, 0, 0, 0.15), 0px 6.4px 29px rgba(0, 0, 0, 0.15);
}

.ui-Callout_content-wrapper .ui-Callout_content {
  position: relative;
}

.ui-Callout_content-wrapper .ui-Callout_arrow {
  position: absolute;
  background-color: #3b4258;
  width: var(--arrow-size);
  height: var(--arrow-size);
  transform: rotate(45deg);
}

/* Left */
.ui-Callout_content-wrapper.--l {
  padding-right: var(--arrow-size);
}

/* Right */
.ui-Callout_content-wrapper.--r {
  padding-left: var(--arrow-size);
}

/* Top */
.ui-Callout_content-wrapper.--t {
  padding: 0 0 var(--arrow-size) 0;
}

/* Bottom */
.ui-Callout_content-wrapper.--b {
  padding: var(--arrow-size) 0 0 0;
}
