.ui-Tooltip {
  --arrow-size: 10px;
}

.ui-Tooltip .content {
  position: relative;
  color: white;
  border-radius: 4px;
  background-color: #3b4258;
  padding: 6px 12px;
  box-shadow: 0px 1.2px 18px rgba(0, 0, 0, 0.08), 0px 6.4px 29px rgba(0, 0, 0, 0.12);
}
.ui-Tooltip .arrow {
  background-color: #3b4258;
  position: absolute;
  width: var(--arrow-size);
  height: var(--arrow-size);
  z-index: -1;
}

/* Top */
.ui-Tooltip.--top .content {
  margin-bottom: var(--arrow-size);
}
.ui-Tooltip.--top .arrow {
  bottom: calc(var(--arrow-size) / 2);
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

/* Botom */
.ui-Tooltip.--bottom .content {
  margin-top: var(--arrow-size);
}
.ui-Tooltip.--bottom .arrow {
  top: calc(var(--arrow-size) / -2);
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
